* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amaranth", sans-serif;
  margin: 0; }

body {
  font-family: "Titillium Web", sans-serif;
  color: #eee; }

.grid-container {
  display: grid; }
